h1 {
  font-size: 100px;
  font-family: 'Londrina Shadow', cursive;
  text-align: center;
  color: #fff;
  background-color: #361f70;
  height: 150px;
}

h2 {
  font-size: 40px;
  text-align: center;
  font-family: Helvetica, sans-serif;
  margin-top: -50px;
  color: white;
}
h3 {
  font-size: 40px;
  text-align: center;
  font-family: Helvetica, sans-serif;
  margin-top: -50px;
}

p {
  font-size: 40px;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.cards {
  opacity: 1;
}

.allCoins {
  position: absolute;
  width: 200px;
  height: 150px;
  top: 320px;
  z-index: 10;
}

#coinOne {
  left: 400px;
  opacity: 0;
}

#coinTwo {
  left: 600px;
  opacity: 0;
}

#coinThree {
  left: 800px;
  opacity: 0;
}

.allBtns {
  font-size: 40px;
  width: 200px;
  height: 200px;
  font-family: sans-serif;
  position: absolute;
  top: 300px;
  cursor: pointer;
  z-index: 20;
}

.btnOne {
  left: 400px;
  opacity: 1;
}

.btnTwo {
  left: 600px;
  opacity: 1;
}

.btnThree {
  left: 800px;
  opacity: 1;
}

#reset {
  opacity: 0;
}

.general {
  background: rgb(45, 44, 44);
}

.hidden {
  display: none;
}

#high {
  font-size: 20px;
  position: absolute;
  left: 1050px;
  font-family: Helvetica, sans-serif;
  margin-top: -75px;
  background: white;
  border-radius: 2%;
}

#current {
  font-size: 20px;
  position: absolute;
  left: 1050px;
  font-family: Helvetica, sans-serif;
  margin-top: -15px;
  background: white;
  border-radius: 2%;
}

#reset {
  font-size: 40px;
  position: absolute;
  left: 75px;
  font-family: Helvetica, sans-serif;
  margin-top: -75px;
}
