h1 {
  font-size: 100px;
  font-family: 'Londrina Shadow', cursive;
  text-align: center;
  color: #fff;
  background-color: #361f70;
  height: 150px;
}

h2 {
  font-size: 40px;
  text-align: center;
  font-family: Helvetica, sans-serif;
  margin-top: -50px;
  color: white;
}
h3 {
  font-size: 40px;
  text-align: center;
  font-family: Helvetica, sans-serif;
  margin-top: -50px;
}

p {
  font-size: 40px;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

#head {
  position: absolute;
  left: 42%;
}

.cards {
  opacity: 1;
}

.allCoins {
  position: absolute;
  width: 20%;
  height: 25%;
  top: 55%;
  z-index: 10;
}

#coinOne {
  left: 22%;
  opacity: 0;
}

#coinTwo {
  left: 42%;
  opacity: 0;
}

#coinThree {
  left: 62%;
  opacity: 0;
}

.allBtns {
  font-size: 40px;
  width: 17%;
  height: 35%;
  font-family: sans-serif;
  position: absolute;
  top: 55%;
  /* cursor: pointer; */
  z-index: 20;
}

.allBtns:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px black;
}

.btnOne {
  left: 22%;
  opacity: 1;
}

.btnTwo {
  left: 42%;
  opacity: 1;
}

.btnThree {
  left: 62%;
  opacity: 1;
}

#reset {
  opacity: 0;
}

.general {
  background: rgb(45, 44, 44);
}

.hidden {
  display: none;
}

#highScore {
  font-size: 30px;
  position: absolute;
  left: 1150px;
  font-family: Helvetica, sans-serif;
  margin-top: -75px;
  background: white;
  padding: 5px;
  border-radius: 3px;
}

#currentScore {
  font-size: 30px;
  position: absolute;
  left: 1150px;
  font-family: Helvetica, sans-serif;
  margin-top: -15px;
  background: white;
  padding: 5px;
  border-radius: 3px;
}

#reset {
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  background: white;
  border: none;
  left: 75px;
  font-family: Helvetica, sans-serif;
  margin-top: -75px;
  padding: 5px;
  border-radius: 3px;
}

#reset:hover {
  cursor: pointer;
  box-shadow: 2px 5px 5px black;
}
